/* 文字コードの指定 */
@charset "utf-8";

/* body、aタグの設定 */
body {
	margin: 0;  
    padding: 0 0 50px 0; 
	width: 100%;
	background: #EEE;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;	font-size: 12px;
 	font-weight: lighter;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

/* フッタの設定 */
#headWrap {
	position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
	height: 60px;
	background: white;
    box-shadow: 0 1px 8px #333333;
    -moz-box-shadow: 0 1px 8px #333333; /* Firefox対応 */
    -webkit-box-shadow: 0 1px 8px #333333; /* Safari、Chrome対応 */
    opacity: 0.9;
    filter: alpha(opacity=90); /* IE7対応 */
    -ms-filter: "alpha(opacity=90)"; /* IE8対応 */
	z-index: 20;
}

#header {
	border: solid 3px;
	border-color: #DDD;
	color: #DDD;
	position: fixed;
	width: 28px;
	height: 28px;
    top:15px;
	left: 30px;
	font-size: 20px;
	min-height: 20px;
	text-align: center;
	-moz-border-radius: 25px;
    -khtml-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
	z-index: 30;
}

/* #wrapperの設定 */
#wrapper {
	background:white;
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 800px;
}

#logo {
	position: relative;
	z-index: 30;
	
}

/* メイン部の設定 */
#main {
	  text-align:center;
	  height: 800px;
	  margin: 70px auto;
	  padding: 10px 15px;
}


/* フッタの設定 */
#footer {
	color: #AAA;
	width: 800px;
	position: fixed;
	padding: 0px auto;
    bottom:5px;
	min-height: 20px;
	text-align: center;
	z-index: 3000;
}

#atsum {
	background: url(../images/atsum.png) 0 0 no-repeat;
}

#fbm {
	background: url(../images/fbm.png) 0 0 no-repeat;
}

.content {
	width: 200px;
	height:130px;
	margin: 10px;
	float: left;
	border: solid 1px black;
}