---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Not Found">
  <div>
    <h1>404</h1>
    <p>ページが見つかりませんでした</p>
    <p>Page not found</p>
    <a href="/" class="util-MarginTop--36">TOP</a>
  </div>
</Layout>

<style lang="scss">
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    font-size: 16px;
    color: #aaa;
  }

  h1 {
    font-size: 150px;
    font-weight: lighter;
  }
</style>
