.Footer {
  padding: 16px 16px 32px;
  color: #777;
  background-color: #ddd;

  &__title {
    margin-bottom: 16px;
  }

  li:not(:last-child) {
    margin-bottom: 8px;
  }

  &__copy {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
    margin-bottom: 16px;
    color: #aaa;
    text-align: center;
  }
}
