.Logo {
  display: block;
  width: 100vw;
  height: 100vh;
  transform-origin: top left;
  animation: exit-animation 1s 3s both;

  path {
    fill: none;
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: line-animation 4s both;
  }

  circle {
    stroke-dasharray: 500px;
    transform: rotate(105deg);
    transform-origin: center;
    animation: circle-animation 2s 1s both;
  }

  @keyframes line-animation {
    0% {
      fill: transparent;
      stroke-dashoffset: 500px;
    }

    20% {
      fill: transparent;
    }

    100% {
      fill: #000;
      stroke-dashoffset: 0;
    }
  }

  @keyframes circle-animation {
    0% {
      stroke: transparent;
      stroke-dashoffset: 500px;
    }

    100% {
      stroke: #000;
      stroke-dashoffset: 0;
    }
  }

  @keyframes exit-animation {
    0% {
      height: 100vh;
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      height: 0;
      opacity: 0;
      transform: translateX(-50%);
    }
  }
}
