.Nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  background: #fff;
  box-shadow: 0 1px 8px #aaa;
  opacity: 0.9;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    overflow: hidden;

    path {
      fill: #ddd;
      stroke: transparent;
    }

    circle {
      stroke: #ddd;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: #777;
      }

      circle {
        stroke: #777;
      }
    }
  }

  &__home {
    animation: enter-animation 1s 3.5s both;
  }

  &__noAnim {
    animation: none;
  }

  &__menu {
    display: flex;
    margin-right: -8px;

    li a {
      padding: 12px;
    }
  }

  @keyframes enter-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.9;
    }
  }
}
