.Nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  background: white;
  box-shadow: 0 1px 8px #aaa;
  opacity: 0.9;

  &__home {
    animation: enter-animation 1s 3.5s both;
  }

  &__icon {
    z-index: 30;
    width: 28px;
    height: 28px;
    min-height: 20px;
    font-size: 20px;
    font-style: italic;
    color: #ddd;
    text-align: center;
    cursor: pointer;
    border: 3px solid #ddd;
    border-radius: 25px;

    &:hover {
      color: #777;
      border-color: #777;
    }
  }

  &__menu {
    display: flex;

    li a {
      padding: 12px;
    }
  }

  @keyframes enter-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.9;
    }
  }
}
