body {
  width: 100%;
  margin: 0;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #fff;
  background: #f5f5f5;
}

a {
  color: #bbb;
  text-decoration: none;

  &:hover {
    color: #777;
    text-decoration: none;
  }
}

.Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  min-height: calc(100vh - 60px);
  margin: 60px auto 0;
  background: #fff;
}

.Main {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  color: #777;
}
